/* ESTILOS PARA FORMULARIO CREAR TAREA */
.admin-panel{
	width: 100%;
	width: 255px;
	height: 400px;	
	border: 1px solid #eee;
	box-shadow: 0px 0px 20px #ccc inset;
	border-radius: 5px;
	margin-left: 18px;
}