
<div class="row salida-unidad ingresos">
        <div class="col-lg-5 inner-addon ">
          <span class="titulo">Almacen de salida </span>
          <select [(ngModel)]="seleccion">   
            <option value="">Elija el almacen de salida</option>
            <option *ngFor="let o of warehouses" [value]="o">{{o}}</option>
          </select>
        </div>     
      
        
      </div>  
           <br> 
      
        <div class="row col-lg-offset-3"></div>    
        <div class="row col-lg-5 inner-addon right-addon col-lg-offset-1">
      
            <i class="glyphicon glyphicon-barcode"></i>
            <input type="text" #bus="ngModel"  class="form-control" #lectura autofocus name="lectura"
             (keyup.enter)="addAddress()" [(ngModel)]="busqueda" placeholder="Lea el código de barras">
            <!-- <div class="col-lg-12 alert alert-danger" role="alert" *ngIf="status === false">
                NO SE ENCONTRO EL CÓDIGO {{busqueda}}
            </div> -->
        </div>
      <br> 
      <br>
          
      
      
          <!-- *************************************************************
           ENTRADAS DE INJECTION
           *************************************************************
          -->
          <div *ngIf="seleccion === 'Inyeccion'">        
              <div >
                  <div class="row ">
                      <b><div class="col-lg-1 codigo titulo">Código</div></b>
                      <b><div class="col-lg-1 referencia titulo">Referencia</div></b>
                      <b><div class="col-lg-1 talla titulo" >Talla</div></b>
                  </div>
              </div>
              <div *ngFor="let registro of injection ">
                  <div *ngFor="let unidad of registro.registros | ingresos: busqueda">
                      <div *ngIf="busqueda === unidad.code">
                          <div class="row">
                              <div><input type="hidden" id="code" #code value="{{unidad.code}}"></div>
                              <div><input type="hidden" #reference value="{{unidad.reference}}"></div>
                              <div><input type="hidden" #size value="{{unidad.size}}"></div>
                              <div><input type="hidden" #idWarehouse value="{{registro._id}}"></div>
                              <div><input type="hidden"   value="{{unidad.clasification}}"></div>
                          </div>
                      </div>
                  </div>
              </div> 
          </div>

           <!-- *************************************************************
           ENTRADAS DE VULCANIZADO
           *************************************************************
          -->
          <div *ngIf="seleccion === 'Vulcanizado'">        
            <div >
                <div class="row ">
                    <b><div class="col-lg-1 codigo titulo">Código</div></b>
                    <b><div class="col-lg-1 referencia titulo">Referencia</div></b>
                    <b><div class="col-lg-1 talla titulo" >Talla</div></b>
                </div>
            </div>
            <div *ngFor="let registro of vulcanizado ">
                <div *ngFor="let unidad of registro.registros | ingresos: busqueda">
                    <div *ngIf="busqueda === unidad.code">
                        <div class="row">
                            <div><input type="hidden" id="code" #code value="{{unidad.code}}"></div>
                            <div><input type="hidden" #reference value="{{unidad.reference}}"></div>
                            <div><input type="hidden" #size value="{{unidad.size}}"></div>
                            <div><input type="hidden" #idWarehouse value="{{registro._id}}"></div>
                            <div><input type="hidden"   value="{{unidad.clasification}}"></div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>


           <!-- *************************************************************
           ENTRADAS DE TERMINACION
           *************************************************************
          -->
          <div *ngIf="seleccion === 'Terminacion'">        
            <div>
                <div class="row ">
                    <b><div class="col-lg-1 codigo titulo">Código</div></b>
                    <b><div class="col-lg-1 referencia titulo">Referencia</div></b>
                    <b><div class="col-lg-1 talla titulo" >Talla</div></b>
                </div>
            </div>
            <div *ngFor="let registro of termination ">
                <div *ngFor="let unidad of registro.registros | ingresos: busqueda">
                    <div *ngIf="busqueda === unidad.code">
                        <div class="row">
                            <div><input type="hidden" id="code" #code value="{{unidad.code}}"></div>
                            <div><input type="hidden" #reference value="{{unidad.reference}}"></div>
                            <div><input type="hidden" #size value="{{unidad.size}}"></div>
                            <div><input type="hidden" #idWarehouse value="{{registro._id}}"></div>
                            <div><input type="hidden"   value="{{unidad.clasification}}"></div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
      
      
          <!-- *************************************************************
           ENTRADAS DE REPROCESO
           *************************************************************
          -->
          <div *ngIf="seleccion === 'Reproceso'">        
              <div>
                  <div class="row ">
                      <b><div class="col-lg-1 codigo titulo">Código</div></b>
                      <b><div class="col-lg-1 referencia titulo">Referencia</div></b>
                      <b><div class="col-lg-1 talla titulo" >Talla</div></b>
                  </div>
              </div>
                  <div *ngFor="let registro of reproceso ">
                      <div *ngFor="let unidad of registro.registros | ingresos: busqueda">
                      <div *ngIf="busqueda === unidad.code">
                          <div class="row">
                              <div><input type="hidden" id="code" #code value="{{unidad.code}}"></div>
                              <div><input type="hidden" #reference value="{{unidad.reference}}"></div>
                              <div><input type="hidden" #size value="{{unidad.size}}"></div>
                              <div><input type="hidden" #idWarehouse value="{{registro._id}}"></div>
                              <div><input type="hidden"   value="{{unidad.clasification}}"></div>
                          </div>
                      </div>
                  </div>
                  </div> 
          </div>


           <!-- *************************************************************
           ENTRADAS DE GUARNECIDA
           *************************************************************
          -->
          <div *ngIf="seleccion === 'Guarnecida'">        
            <div >
                <div class="row ">
                    <b><div class="col-lg-1 codigo titulo">Código</div></b>
                    <b><div class="col-lg-1 referencia titulo">Referencia</div></b>
                    <b><div class="col-lg-1 talla titulo" >Talla</div></b>
                </div>
            </div>
                <div *ngFor="let registro of guarnecida ">
                    <div *ngFor="let unidad of registro.registros | ingresos: busqueda">
                    <div *ngIf="busqueda === unidad.code">
                        <div class="row">
                            <div><input type="hidden" id="code" #code value="{{unidad.code}}"></div>
                            <div><input type="hidden" #reference value="{{unidad.reference}}"></div>
                            <div><input type="hidden" #size value="{{unidad.size}}"></div>
                            <div><input type="hidden" #idWarehouse value="{{registro._id}}"></div>
                            <div><input type="hidden"   value="{{unidad.clasification}}"></div>
                        </div>
                    </div>
                </div>
                </div> 
        </div>
      
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body" id="caja">
                    <div class="row caja" >
                        <form [formGroup]="formData"  >
                          
                            <div class="form-group ">
                                <div id=addresBlock formArrayName="registros">
                                    <div *ngFor="let item of addressListArray.controls; let i = index" [formGroupName]="[i]">
                                        <div class="">
                                            <div class="col-lg-4 ">
                                                <input class="form-control" type="text" [ngModel]="codigo[i]" placeholder="código" formControlName="code">
                                            </div>
                                            <div class="col-lg-3 ">
                                                <input class="form-control" type="text" [ngModel]="referencia[i]" placeholder="referencia" formControlName="reference">
                                            </div>
                                            <div class="col-lg-2 ">
                                                <input class="form-control" type="text" [ngModel]="talla[i]" placeholder="talla" formControlName="size">
                                            </div>
                                            
                                            <div class="">
                                                  <input class="" type="hidden" [ngModel]="idAlmacen[i]" placeholder="id" formControlName="_id">
                                              </div>
                                            <div class="col-lg-2 ">
                                                <input class="form-control" type="hidden" [ngModel]="clasificacion[i]" placeholder="id" formControlName="clasification">
                                            </div>
                                            <span>
      
                                                <a class="btn btn-danger" (click)="removeAddress([i])">Eliminar</a>{{' ' + [i+1]}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
      
                            </div>
      
                            
      
                           <!-- GUARDO EN ALMACEN 2 Y ELIMINO EN  INYECCION -->
                           <div class="col-lg-2 inner-addon" *ngIf="seleccion === 'Inyeccion'">
                              <button (click)="addWarehouse2(formData.value); deleteItemVulcanizado(formData.value)" class="btn btn-success">Guardar</button>
                          </div>

                          <!-- GUARDO EN ALMACEN 2 Y ELIMINO EN  VULCANIZADO -->
                          <div class="col-lg-2 inner-addon" *ngIf="seleccion === 'Vulcanizado'">
                            <button (click)="addWarehouse2(formData.value); deleteItemVulcanizado(formData.value)" class="btn btn-success">Guardar</button>
                        </div>

                          <!-- GUARDO EN ALMACEN 2 Y ELIMINO EN  TERMINADO -->
                          <div class="col-lg-2 inner-addon" *ngIf="seleccion === 'Terminacion'">
                            <button (click)="addWarehouse2(formData.value); deleteItemTermination(formData.value)" class="btn btn-success">Guardar</button>
                        </div>

                        <!-- GUARDO EN ALMACEN 2 Y ELIMINO EN  GUARNECIDA -->
                        <div class="col-lg-2 inner-addon" *ngIf="seleccion === 'Guarnecida'">
                            <button (click)="addWarehouse2(formData.value); deleteItemGuarnecida(formData.value)" class="btn btn-success">Guardar</button>
                        </div>

                          <!-- GUARDO EN ALMACEN 2 Y ELIMINO EN  REPROCESO -->
                          <div class="col-lg-2 inner-addon" *ngIf="seleccion === 'Reproceso'">
                            <button (click)="addWarehouse2(formData.value); deleteItemReproceso(formData.value)" class="btn btn-success">Guardar</button>
                        </div>
      
                          
                        </form>
                    </div>
      
                </div>
            </div>
        </div>
      
      