<div class="row top">
    <form (ngsubmit)="onsubmit()">
        <div class="container">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="">Código</label>
                    <input type="text" class="form-control" [(ngModel)]="guarnecida.name">

                    
                </div>
            </div>
        </div>
    </form>
</div>




<!-- <div class="row top">
    <input type="text" #input (keyup.enter)=" addMarca()" #busqueda placeholder="código de barras">

    <br>
    <div class="container">
        <div class="row">
            
                <th>Operario</th>
                <th>Nombre</th>
                <th>Referencia</th>
                <th>Talla</th>
                <th>Registros</th>

            
        </div>
        

    </div>
    <div class="card">
        <div class="card-body">

                <div class="container">
                        <div class="row ">
                            <b><div class="col-lg-1 codigo">Código</div></b>
                            <b><div class="col-lg-1 referencia">Referencia</div></b>
                            <b><div class="col-lg-1 talla" >Talla</div></b>
                        </div>
                    </div>
                        <div *ngFor="let registro of tareaUnidad | ingresos: busqueda">
                            <div >
                                <div class="row">
                                    <div><input type="hidden" #code value="{{registro.code}}"></div>
                                    <div><input type="hidden" #reference value="{{registro.reference}}"></div>
                                    <div><input type="hidden" #size value="{{registro.size}}"></div>
                                    <div><input type="hidden" #idWarehouse value="{{registro._id}}"></div>
                                    <div><input type="hidden"   value="{{registro.clasification}}"></div>
                                </div>
                            </div>
                        </div>


            <form #registerForm="ngForm" (ngSubmit)="onsubmit(registerForm.value)">
                
                    <div *ngFor=" let indice = index">
                        {{indice + 1 }}
                        {{marca.code}}
                        <input type="text" #code="ngModel" name="code{{indice}}" placeholder="nombre" [(ngModel)]="marca.code">
                        <input type="text" #refernece="ngModel" name="reference{{indice}}" [(ngModel)]="marca.reference" placeholder="referencia">
                        <input type="text" #size="ngModel" name="size{{indice}}" placeholder="referencia" [(ngModel)]="marca.size">

                        <button (divck)="borrarMarca(indice)" class="btn btn-danger">Borrar</button>
                    </div>
                
                <button (click)="addMarca()">Añadir marca</button>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>

        </div>
    </div>
</div> -->


<!-- <form (ngSubmit)="onsubmit()" class="top">
    <div class="container">

        <div class="form-row" *ngFor="let register of guarnecida; let i = index">



            <input type="text" placeholder="Operario" name="operator{{i}}" [(ngModel)]="register.operator">



            <input type="text" placeholder="Nombre" name="name{{i}}" [(ngModel)]="register.name">




            <input type="text" placeholder="Referencia" name="reference{{i}}" [(ngModel)]="register.reference">



            <input type="text" placeholder="Talla" name="size{{i}}" [(ngModel)]="register.size">


            <button (click)="removeForm([i +1])" class="btn btn-danger">eliminar</button>



        </div>

        <button (click)="addForm()" class="btn btn-success">agregar</button>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>

</form> -->