<!-- <div class="top">
    <form [formGroup]="miFormulario" (ngSubmit)="onSubmit(miFormulario.value)">
        <div class="form-group">
            <label for="operator">Operario</label>
            <input type="text" class="form-control" formControlName="operator" id="exampleoperator">
        </div>

        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" formControlName="name" id="examplename">
        </div>

        <div class="form-group">
            <div formArrayName="registros">
                <div *ngFor="let item of getRegistros.controls; let i = index" [formGroupName]="i">
                    <input formControlName="registro">
                    <a class="btn btn-link" (click)="removeRegistro()">Eliminar</a>
                </div>
                <a class="btn btn-link" (click)="addRegistro()">Agregar</a>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div> -->




<div class="row top">
    <input type="text" class="form-control" #lectura autofocus name="lectura" (keyup.enter)="addAddress()" [(ngModel)]="busqueda" placeholder="Leer código de barras">
    <table class="table table-hover">
        <thead class="thead-default">
            <tr>

                <th>Referencia</th>
                <th>Talla</th>


            </tr>
        </thead>
        <tbody *ngIf="busqueda">
            <tr *ngFor="let registro of warehouse1 | register: busqueda">
                <div *ngIf="busqueda === registro.name">

                    <td><input type="hidden" #fondovalor value="{{registro.operator}}"></td>
                    <td><input type="hidden" #size value="{{registro.name}}"></td>
                    <td>{{registro.reference}}</td>
                    <td>{{registro.size}}</td>

                    <div *ngFor="let s of registro.registros">
                        <td>{{s.reference}}</td>
                    </div>


                </div>
            </tr>
        </tbody>

    </table>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="top">

                    <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">

                        <div class="fields">
                            <input type="text" placeholder="operario" formControlName="operator">
                        </div>
                        <div class="fields">
                            <input type="search" placeholder="name" formControlName="name">
                        </div>
                        <div class="form-group">
                            <div formArrayName="registros">
                                <div *ngFor="let item of addressListArray.controls; let i = index" [formGroupName]="[i]">
                                    <div>
                                        <input type="text" [ngModel]="regis[i-1]" placeholder="referencia" formControlName="reference">
                                        <input type="text" [ngModel]="regis2[i-1]" placeholder="talla" formControlName="size">
                                        <span *ngIf="i!=0">

                                            <button class="btn btn-danger" (click)="removeAddress([i-1])">Eliminar</button>{{' ' + i}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-link" (click)="addAddress()">Agregar</a>
                            <button (click)="addAddress()">Agregar</button>
                        </div>


                        <button type="submit" class="btn btn-success">Guardar</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>