<div >
  <div class="salida-unidad col-lg-offset-1">
  <div class="col-lg-4 inner-addon ">
      
      <div class="col-lg-5 inner-addon ">
          <span class="titulo">Almacen </span>
          <select [(ngModel)]="seleccion">   
              <option value="">Elija el almacen de destino</option>
              <option *ngFor="let o of warehouses" [value]="o">{{o}}</option>
          </select>
      </div>

  </div>  
</div>     
      
      <div class="row col-lg-offset-3"></div> 
      <div class="col-lg-5 inner-addon right-addon col-lg-offset-3">

          <i class="glyphicon glyphicon-barcode"></i>
          <input type="text" #bus="ngModel" class="form-control" #lectura autofocus name="lectura" (keyup.enter)="addAddress()" [(ngModel)]="busqueda" placeholder="Digite código de barras" autofocus>
          <!-- <div class=" alert alert-danger" role="alert" *ngIf="status === false && busqueda"> 
              NO SE ENCONTRO EL CÓDIGO {{busqueda}}
          </div> -->
      </div>

       <div class="container titulo">                  
          <div class="row col-lg-11">
              <b><div class="col-lg-1 codigo">Código</div></b>
              <b><div class="col-lg-1 referencia">Referencia</div></b>
              <b><div class="col-lg-1 talla" >Talla</div></b>                        
          </div>
      </div>
          <div *ngIf="busqueda">
              <div *ngFor="let registro of guarnecidaInterna ">
                  <div *ngFor="let codigo of registro.registros | ingresos: busqueda">
                          

                      <div *ngIf="busqueda === codigo.code ">
                          <div class="row">
                              <div><input type="hidden" id="code" #code value="{{codigo.code}}"></div>
                              <div><input type="hidden" #reference value="{{codigo.reference}}"></div>
                              <div><input type="hidden" #size value="{{codigo.size}}"></div>
                              <div><input type="hidden" #idWarehouse value="{{registro._id}}"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          
      

      <div class="col-lg-12">
          <div class="card">
              <div class="card-body" id="caja">    
                  <div class="row caja" >    
                      <form [formGroup]="formData" >

                          <div class="form-group" >
                              <div id=addresBlock formArrayName="registros" >
                                  <div *ngFor="let item of addressListArray.controls; let i = index" [formGroupName]="[i]">
                                      <div class="">
                                          <div class="col-lg-4">
                                              <input class="form-control" type="text" [ngModel]="codigo[i]" placeholder="código" formControlName="code">
                                          </div>
                                          <div class="col-lg-3">
                                              <input class="form-control" type="text" [ngModel]="referencia[i]" placeholder="referencia" formControlName="reference">
                                          </div>
                                          <div class="col-lg-2">
                                              <input class="form-control" type="text" [ngModel]="talla[i]" placeholder="talla" formControlName="size">
                                          </div>
                                          <div class="col-lg-2">
                                                  <input class="form-control" type="hidden" [ngModel]="clasificacion[i]" placeholder="id" formControlName="clasification">
                                          </div>
                                          <div class="">
                                              <input class="" type="hidden" [ngModel]="idAlmacen[i]" placeholder="id" formControlName="_id">
                                          </div>
                                          <div class="">
                                              <input class="" type="hidden" [ngModel]="operario[i]" placeholder="id" formControlName="operator">
                                          </div>
                                          
                                          <span>    
                                              <a class="btn btn-danger" (click)="removeAddress([i])">Eliminar</a>{{' ' + [i+1]}}
                                          </span>
                                      </div>
                                  </div>
                              </div>    
                          </div>

                          <div class="col-lg-2 inner-addon" *ngIf="seleccion === 'Almacen1'">
                              <button (click)="addWarehouse1(formData.value); deleteItemGuarnecida(formData.value)"   class="btn btn-success">Guardar</button>

                          </div>
                      </form>
                  </div>

              </div>
          </div>
      </div>  
</div>

