@page  {size: 10cm 2.5cm}

.pagina-codigo {

    /* border:red 1px solid; */
    border-top:rgb(252, 251, 251) 1px solid;    
    height:2.5cm;
    width:10cm;
    page-break-before: always;
    


}




@media print {

    .pagina-codigo {
        height:2.5cm;
        width:10cm;
        position: relative;
        padding-right: 0;
        padding-left: 0;




        }
    }

/* Funcion para no imprimir un trozo de html */
@media print{
	@page {
        margin: 0;
        size: auto;
    }
  }


#codigo {
    /* margin: 12mm 10mm 0 60mm ; */
    position: relative;
    bottom:60mm;
    right: -60mm;

}

#referencia-talla {
    /* margin: 2mm 10mm 0.5mm 60mm ; */
    position: relative;
    /* bottom:3mm; */
    right: -70mm;
    top: -10mm;
}


#registro {
    /* margin: -7mm 0mm -10mm 10mm; */
    position: relative;
    bottom: 59mm;
    left: 0;
}

#pais-origen {
    /* margin-left: 5mm; */
    /* margin: -6mm 0mm -12mm 10mm; */
    position: relative;
    bottom: 48mm;
    left: 0;
}
#nombre-referencia {
    /* margin: -8mm 0mm -12mm 10mm; */
    position: relative;    
    /* left: 0; */
    bottom:0mm;
    right: -55mm;
}

#capellada {
    position: relative;
    bottom: 12mm;
    left: 0;
}

#forradura {
    position: relative;
    bottom: 20mm;
    left: 15mm;
}

#suela {
    position: relative;
    bottom: 28mm;
    left: 30mm;
}

#tipo-forradura {
    position: absolute;
    bottom: -2mm;
    left: -40mm;
}

#tipo-capellada {
    position: absolute;
    bottom: -2mm;
    left: -55mm;
}


#tipo-suela {
    position: absolute;
    bottom: -2mm;
    left: -25mm;
}

#zapatos {
    position: relative;
    bottom: -9mm;
    left: 0mm;
}

#logo {
    position: relative;
    bottom: 5mm;
    left: 36mm;
}






