
<div class="row salida-unidad ingresos">
  <div class="col-lg-5 inner-addon ">
    <span class="titulo">Almacen de salida </span>
    <select [(ngModel)]="seleccion">   
      <option value="">Elija el almacen de salida</option>
      <option *ngFor="let o of warehouses" [value]="o">{{o}}</option>
    </select>
  </div>  
  
  <div *ngIf="seleccion === 'Strobell'">
    <div class="radio-inline " > 
        <label class="mt-2 titulo">        
            <input type="radio" name="clasificacion" id="conStrobell" #conStrobell value="conStrobell"  checked>Con strobell        
        </label>           
    </div>

    <div class="radio-inline">
        <label class="titulo">        
            <input type="radio" name="clasificacion" id="sinStrobell" #sinStrobell value="sinStrobell" >Sin strobell       
        </label>        
    </div>
</div>


<div *ngIf="seleccion === 'Virado'">
    <div class="radio-inline " > 
            <label class="mt-2 titulo">        
                <input type="radio" name="clasificacion" id="conVira" #conVira value="conVira"  checked>Con vira        
            </label>           
        </div>
    
        <div class="radio-inline">
            <label class="titulo">        
                <input type="radio" name="clasificacion" id="sinVira" #sinVira value="sinVira" >Sin vira       
            </label>        
        </div>
    </div>
  
</div> 
<br> 
      

  <div class="row col-lg-offset-3"></div>    
  <div class="row col-lg-5 inner-addon right-addon col-lg-offset-1">

      <i class="glyphicon glyphicon-barcode"></i>
      <input type="text"  class="form-control" autofocus
       (keyup.enter)="addAddress()" [(ngModel)]="busqueda" placeholder="Lea el código de barras">
      <!-- <div class="col-lg-12 alert alert-danger" role="alert" *ngIf="status === false">
          NO SE ENCONTRO EL CÓDIGO {{busqueda}}
      </div> -->
  </div>
<br>
<br>


<!-- *************************************************************
     ENTRADAS DE GUARNECIDA INTERNA 
     *************************************************************
    -->
  <div *ngIf="seleccion === 'Guarnecida-Interna'">        
          <div >
              <div class="row ">
                  <b><div class="col-lg-1 codigo titulo">Código</div></b>
                  <b><div class="col-lg-1 referencia titulo">Referencia</div></b>
                  <b><div class="col-lg-1 talla titulo" >Talla</div></b>
              </div>
          </div>
              <div *ngFor="let registro of guarnecidaInterna ">
                  <div *ngFor="let unidad of registro.registros | ingresos: busqueda">
                  <div *ngIf="busqueda === unidad.code">
                      <div class="row">
                          <div><input type="hidden" id="code" #code value="{{unidad.code}}"></div>
                          <div><input type="hidden" #reference value="{{unidad.reference}}"></div>
                          <div><input type="hidden" #size value="{{unidad.size}}"></div>
                          <div><input type="hidden" #idWarehouse value="{{registro._id}}"></div>
                          <div><input type="hidden"   value="{{unidad.clasification}}"></div>
                      </div>
                  </div>
                </div>
              </div> 
    </div>


    <!-- *************************************************************
     ENTRADAS DE GUARNECIDA EXTERNA
     *************************************************************
    -->
  <div *ngIf="seleccion === 'Guarnecida-Externa'">        
    <div>
        <div class="row ">
            <b><div class="col-lg-1 codigo titulo">Código</div></b>
            <b><div class="col-lg-1 referencia titulo">Referencia</div></b>
            <b><div class="col-lg-1 talla titulo" >Talla</div></b>
        </div>
    </div>
        <div *ngFor="let registro of guarnecidaExterna ">
            <div *ngFor="let unidad of registro.registros | ingresos: busqueda">
            <div *ngIf="busqueda === unidad.code">
                <div class="row">
                    <div><input type="hidden" id="code" #code value="{{unidad.code}}"></div>
                    <div><input type="hidden" #reference value="{{unidad.reference}}"></div>
                    <div><input type="hidden" #size value="{{unidad.size}}"></div>
                    <div><input type="hidden" #idWarehouse value="{{registro._id}}"></div>
                    <div><input type="hidden"   value="{{unidad.clasification}}"></div>
                </div>
            </div>
          </div>
        </div> 
</div>
    
    
    <!-- *************************************************************
     ENTRADAS DE OJALETEADO 
     *************************************************************
    -->
    <div *ngIf="seleccion === 'Ojaleteado'">        
        <div >
            <div class="row ">
                <b><div class="col-lg-1 codigo titulo">Código</div></b>
                <b><div class="col-lg-1 referencia titulo">Referencia</div></b>
                <b><div class="col-lg-1 talla titulo" >Talla</div></b>
            </div>
        </div>
        <div *ngFor="let registro of ojaleteado ">
            <div *ngFor="let unidad of registro.registros | ingresos: busqueda">
                <div *ngIf="busqueda === unidad.code">
                    <div class="row">
                        <div><input type="hidden" id="code" #code value="{{unidad.code}}"></div>
                        <div><input type="hidden" #reference value="{{unidad.reference}}"></div>
                        <div><input type="hidden" #size value="{{unidad.size}}"></div>
                        <div><input type="hidden" #idWarehouse value="{{registro._id}}"></div>
                        <div><input type="hidden"   value="{{unidad.clasification}}"></div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 


    <!-- *************************************************************
     ENTRADAS DE STROBELL 
     *************************************************************
    -->
    <div *ngIf="seleccion === 'Strobell'">        
        <div>
            <div class="row ">
                <b><div class="col-lg-1 codigo titulo">Código</div></b>
                <b><div class="col-lg-1 referencia titulo">Referencia</div></b>
                <b><div class="col-lg-1 talla titulo" >Talla</div></b>
            </div>
        </div>
        <div *ngFor="let registro of strobell ">
            <div *ngFor="let unidad of registro.registros | ingresos: busqueda">
                <div *ngIf="busqueda === unidad.code">
                    <div class="row">
                        <div><input type="hidden" id="code" #code value="{{unidad.code}}"></div>
                        <div><input type="hidden" #reference value="{{unidad.reference}}"></div>
                        <div><input type="hidden" #size value="{{unidad.size}}"></div>
                        <div><input type="hidden" #idWarehouse value="{{registro._id}}"></div>
                        <div><input type="hidden" #operatorStrobell value="{{unidad.operator}}"></div>
                        <div><input type="hidden"   value="{{unidad.clasification}}"></div>
                    </div>
                </div>
            </div>
        </div> 
    </div>


    <!-- *************************************************************
     ENTRADAS DE VIRADO
     *************************************************************
    -->
    <div *ngIf="seleccion === 'Virado'">        
        <div>
            <div class="row ">
                <b><div class="col-lg-1 codigo titulo">Código</div></b>
                <b><div class="col-lg-1 referencia titulo">Referencia</div></b>
                <b><div class="col-lg-1 talla titulo" >Talla</div></b>
            </div>
        </div>
        <div *ngFor="let registro of virado ">
            <div *ngFor="let unidad of registro.registros | ingresos: busqueda">
                <div *ngIf="busqueda === unidad.code">
                    <div class="row">
                        <div><input type="hidden" id="code" #code value="{{unidad.code}}"></div>
                        <div><input type="hidden" #reference value="{{unidad.reference}}"></div>
                        <div><input type="hidden" #size value="{{unidad.size}}"></div>
                        <div><input type="hidden" #idWarehouse value="{{registro._id}}"></div>
                        <div><input type="hidden"   value="{{unidad.clasification}}"></div>
                    </div>
                </div>
            </div>
        </div> 
    </div>


    <!-- *************************************************************
     ENTRADAS DE INJECTION
     *************************************************************
    -->
    <div *ngIf="seleccion === 'Inyeccion-Cementado'">        
        <div>
            <div class="row ">
                <b><div class="col-lg-1 codigo titulo">Código</div></b>
                <b><div class="col-lg-1 referencia titulo">Referencia</div></b>
                <b><div class="col-lg-1 talla titulo" >Talla</div></b>
            </div>
        </div>
        <div *ngFor="let registro of injection ">
            <div *ngFor="let unidad of registro.registros | ingresos: busqueda">
                <div *ngIf="busqueda === unidad.code">
                    <div class="row">
                        <div><input type="hidden" id="code" #code value="{{unidad.code}}"></div>
                        <div><input type="hidden" #reference value="{{unidad.reference}}"></div>
                        <div><input type="hidden" #size value="{{unidad.size}}"></div>
                        <div><input type="hidden" #idWarehouse value="{{registro._id}}"></div>
                        <div><input type="hidden"   value="{{unidad.clasification}}"></div>
                    </div>
                </div>
            </div>
        </div> 
    </div>


    <!-- *************************************************************
     ENTRADAS DE REPROCESO
     *************************************************************
    -->
    <div *ngIf="seleccion === 'Reproceso'">        
        <div>
            <div class="row col-lg-11">
                <b><div class="col-lg-1 codigo titulo">Código</div></b>
                <b><div class="col-lg-1 referencia titulo">Referencia</div></b>
                <b><div class="col-lg-1 talla titulo" >Talla</div></b>
            </div>
        </div>
            <div *ngFor="let registro of reproceso ">
                <div *ngFor="let unidad of registro.registros | ingresos: busqueda">
                <div *ngIf="busqueda === unidad.code">
                    <div class="row">
                        <div><input type="hidden" id="code" #code value="{{unidad.code}}"></div>
                        <div><input type="hidden" #reference value="{{unidad.reference}}"></div>
                        <div><input type="hidden" #size value="{{unidad.size}}"></div>
                        <div><input type="hidden" #idWarehouse value="{{registro._id}}"></div>
                        <div><input type="hidden"   value="{{unidad.clasification}}"></div>
                    </div>
                </div>
            </div>
            </div> 
    </div>

  <div class="col-lg-12">
      <div class="card">
          <div class="card-body" id="caja">
              <div class="row caja" >
                  <form [formGroup]="formData"  >
                    
                      <div class="form-group ">
                          <div id=addresBlock formArrayName="registros">
                              <div *ngFor="let item of addressListArray.controls; let i = index" [formGroupName]="[i]">
                                  <div class="">
                                      <div class="col-lg-4 ">
                                          <input class="form-control" type="text" [ngModel]="codigo[i]" placeholder="código" formControlName="code">
                                      </div>
                                      <div class="col-lg-3 ">
                                          <input class="form-control" type="text" [ngModel]="referencia[i]" placeholder="referencia" formControlName="reference">
                                      </div>
                                      <div class="col-lg-2 ">
                                          <input class="form-control" type="text" [ngModel]="talla[i]" placeholder="talla" formControlName="size">
                                      </div>
                                      
                                      <div class="">
                                            <input class="" type="hidden" [ngModel]="idAlmacen[i]" placeholder="id" formControlName="_id">
                                        </div>
                                      <div class="col-lg-2 ">
                                          <input class="form-control" type="hidden" [ngModel]="clasificacion[i]" placeholder="id" formControlName="clasification">
                                      </div>

                                      <div class="col-lg-2 ">
                                        <input class="form-control" type="hidden" [ngModel]="operarioStrobell[i]" placeholder="id" formControlName="operatorStrobell">
                                    </div>
                                      <span>

                                          <a class="btn btn-danger" (click)="removeAddress([i])">Eliminar</a>{{' ' + [i+1]}}
                                      </span>
                                  </div>
                              </div>
                          </div>

                      </div>

                      <!-- GUARDO EN ALMACEN 1 Y ELIMINO EN GUARNECIDA INTERNA -->
                      <div class="col-lg-2 inner-addon" *ngIf="seleccion === 'Guarnecida-Interna'">
                          <button (click)="addWarehouse1(formData.value); deleteItemGuarnecida(formData.value)" class="btn btn-success">Guardar</button>
                      </div>

                      <!-- GUARDO EN ALMACEN 1 Y ELIMINO EN GUARNECIDA EXTERNA -->
                      <div class="col-lg-2 inner-addon" *ngIf="seleccion === 'Guarnecida-Externa'">
                        <button (click)="addWarehouse1(formData.value); deleteItemGuarnecidaExterna(formData.value)" class="btn btn-success">Guardar</button>
                    </div>

                      <!-- GUARDO EN ALMACEN 1 Y ELIMINO EN  STROBELL -->
                      <div class="col-lg-2 inner-addon" *ngIf="seleccion === 'Strobell'">
                        <button (click)="addWarehouse1(formData.value); deleteItemStrobell(formData.value)" class="btn btn-success">Guardar</button>
                    </div>

                    <!-- GUARDO EN ALMACEN 1 Y ELIMINO EN  OJALETEADO -->
                    <div class="col-lg-2 inner-addon" *ngIf="seleccion === 'Ojaleteado'">
                        <button (click)="addWarehouse1(formData.value); deleteItemOjaleteado(formData.value)" class="btn btn-success">Guardar</button>
                    </div>

                    <!-- GUARDO EN ALMACEN 1 Y ELIMINO EN  VIRADO -->
                    <div class="col-lg-2 inner-addon" *ngIf="seleccion === 'Virado'">
                        <button (click)="addWarehouse1(formData.value); deleteItemVirado(formData.value)" class="btn btn-success">Guardar</button>
                    </div>

                     <!-- GUARDO EN ALMACEN 1 Y ELIMINO EN  INYECCION -->
                     <div class="col-lg-2 inner-addon" *ngIf="seleccion === 'Inyeccion-Cementado'">
                        <button (click)="addWarehouse1(formData.value); deleteItemInjection(formData.value)" class="btn btn-success">Guardar</button>
                    </div>

                    <!-- GUARDO EN ALMACEN 1 Y ELIMINO EN  REPROCESO-->
                    <div class="col-lg-2 inner-addon" *ngIf="seleccion === 'Reproceso'">
                        <button (click)="addWarehouse1(formData.value); deleteItemReproceso(formData.value)" class="btn btn-success">Guardar</button>
                    </div>
                  </form>
              </div>

          </div>
      </div>
  </div>

